html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}
.logo {
  width: 40px;
}
.pt-50{
  padding-top: 50px;
}
.pb-50 {
  padding-bottom: 50px;
 }
